@font-face {
  font-family: 'Play';
  src: url('../../assets/fonts/Play-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Play';
  src: url('../../assets/fonts/Play-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
